<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697477829289-6jevi4oes3fkp8ijtnmuu4htg8sv57uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697477829289-6jevi4oes3fkp8ijtnmuu4htg8sv57uj</string>
	<key>API_KEY</key>
	<string>AIzaSyC65-ZEPnNHHNLsIAsKd2_2o2Mdh9WyeF4</string>
	<key>GCM_SENDER_ID</key>
	<string>697477829289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dally.technologies.gentelmanForge.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gentleman-s-forge</string>
	<key>STORAGE_BUCKET</key>
	<string>gentleman-s-forge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697477829289:ios:4461f87dc8feea27d68fb8</string>
</dict>
</plist>